@import "../../styles/colors";

.pm-ride-search {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    &__content {
        display: flex;
        width: 100%;

        .pm-single-chat {
            &__container {
                width: 300px;
            }
        }
    }
    .pm-horizonal-list-item {
        display: flex !important;
        justify-content: space-between;
        flex: 1;
        position: relative;
        margin: 8px 0;
        &:first-of-type {
            &::after {
                width: calc(100% - 12px);
                height: 2px;
                background-color: red;
                content: "";
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .pm-rides-list {
        > .item {
            border: 1px solid black;
            border-radius: 10px;
            padding: 8px;
            &:not(:last-of-type) {
                border: 1px solid black;
                padding: 8px;
            }
        }
    }
    .pm-collapsible-chat {
        position: absolute;
        right: 0;
        > i {
            position: absolute;
            left: 0;
            left: -3px;
            z-index: 10;
        }
        transition: transform ease-in-out 0.6s;
        &--collapsed {
            transform: translateX(100%);
            > i {
                transform: rotate(180deg);
                left: -28px;
            }
        }
    }
}
