.pm-notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 1;
    .ui.card {
        max-width: 500px;
    }
    &.ui.grid {
        padding: 64px;
    }
}
