.ui.card {
    .ui.header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .ui.list {
            width: 100%;
        }
    }
    .ui.button {
        height: 32px;
        margin: 8px 0;
    }
}
