@import "../../styles/colors";
.pm-chats {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
    > :first-child {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    &__search {
        display: flex;
        align-items: center;
        > input {
            border-radius: 3px;
            background: #6a6c75;
            border: none;
            padding: 14px;
            color: white;
            width: 90%;
            font-size: 14px;
            &::placeholder {
                color: white;
                opacity: 0.6;
            }
        }
        i {
            position: relative;
            left: -25px;
        }
    }
    &--sidebar {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
        background-color: #1d1e22;
        padding: 20px;

        > div {
            display: flex;
            font-size: 18px;
            padding: 16px;
            padding-bottom: 20px;
            color: white;
            &.active {
                background-color: #94c2ed;
                border-radius: 16px;
            }
            img {
                width: 32px;
                height: 32px;
                margin-right: 16px;
                border-radius: 50%;
            }
            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
            }
        }
    }
}
