.pm-ride-form {
    padding: 32px;
    background-color: white;
    display: flex;
    flex: 1;
    .ui.form {
        width: 50%;
        display: flex;
        margin-right: 32px;
        justify-content: space-evenly;
    }
    &__options {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 108px 0;
        &__item {
            display: flex;
            margin-bottom: 24px;
            .field {
                width: 120px;
            }
        }
        .ui.field {
            margin: 0;
        }
    }
    .pm-map {
        width: 100%;
        min-width: 500px;
        min-height: 300px;
        height: 100%;
    }
}
